@model CSW.BookLibrary.Site.Models.Book

<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("Insert", "Book", FormMethod.Post))
        {
            <div class="modal-content">
                <div class="modal-header panel-primary">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="false">&times;</span></button>
                    <h4 class="modal-title">Book Creation</h4>
                </div>
                <div class="modal-body">
                    <form name="form">
                        @Html.HiddenFor(model => Model.Id)
                        <div class="row form-group">
                            <div class="col-lg-3">
                                <label for="name">Name: </label>
                            </div>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.Name, new { required = "", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-3">
                                <label for="description">Author: </label>
                            </div>
                            <div class="col-lg-9">
                                @Html.DropDownListFor(m => m.AuthorId, (IEnumerable<SelectListItem>)ViewBag.Authors, "-- Select --", new { required = "", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-3">
                                <label for="description">Category: </label>
                            </div>
                            <div class="col-lg-9">
                                @Html.DropDownListFor(m => Model.CategoryId, (IEnumerable<SelectListItem>)ViewBag.Categories, "-- Select --", new { required = "", @class = "form-control" })
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Save" formaction="/book/insert" class="btn btn-primary" />
                    <input type="submit" value="Cancel" formaction="/book/index" class="btn btn-default" formnovalidate />
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#bookModal').modal('show');
    });
</script>
